<footer class="footer">
    {{subscribe}}
  <div class="container">
      <div class="row row_flex">
          <div class="footer__column"></div>
          <div class="footer__column"></div>
      </div>
  </div>d
</footer>
</body>
</html>