{{ header }}
<div class="home-page content">
    <div class="container">
        <div class="box">
            <div class="panorama">
                <div class="panorama__block">
                    <div class="panorama__oval">
                        <div class="panorama__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-1.5999999940395355 -1.1999998092651367 204 204" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 1px;">
                                <g>
                                    <path d="M139.8 143.5l-13.8 4.9-64.5-22.7-59.9 17.8 124.2 51.3 74.6-30.7-60.6-20.6zm60.1-46.6L73.4 61.5.4 79.6 126 122.4l73.9-25.5zm-4.1-62.1L75 6.8 1.6 19.6 126 53.8l69.8-19z"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="panorama__line">
                        <a href="/index.php?route=common/potolki" class="panorama__link">Натяжные потолки</a>
                    </div>
                </div>
                <div class="panorama__block">
                    <div class="panorama__oval">
                        <div class="panorama__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2.040438000036758 -2.1218364871278226 204.04365695252713 204.04365695252713" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 1px;">
                                <g>
                                    <path d="M198.7 63c-.4-.4-.9-.7-1.4-.9-1-.4-2.1-.5-3.2-.2-.7.2-1.4.5-1.9 1.1-5.2 5.2-12.1 8.1-19.4 8.1-7.3 0-14.3-2.9-19.4-8.1s-8.1-12.1-8-19.5c0-7.4 2.9-14.3 8.1-19.4 3.5-3.5 8.1-5.4 13-5.4s9.5 1.9 13 5.4c7.1 7.1 7.1 18.8 0 25.9-1.8 1.8-1.8 4.7 0 6.5 1.8 1.8 4.7 1.8 6.5 0 10.7-10.7 10.7-28.2 0-38.9-5.2-5.2-12.1-8.1-19.5-8.1s-14.3 2.9-19.4 8.1L36.6 127.8c-6.9 6.9-10.7 16.1-10.7 25.9 0 9.8 3.8 19 10.7 25.9 6.9 6.9 16.1 10.7 25.9 10.7 9.8 0 19-3.8 25.9-10.7L198.6 69.5c1.8-1.8 1.8-4.7.1-6.5zM82 173.2c-5.2 5.2-12.1 8.1-19.5 8.1-7.3 0-14.3-2.9-19.4-8.1-5.2-5.2-8.1-12.1-8.1-19.5s2.9-14.3 8.1-19.5l34.8-34.8c0 .8-.1 1.6-.1 2.3 0 9.8 3.8 19 10.7 25.9 7.2 7.1 16.5 10.7 25.9 10.7.8 0 1.6-.1 2.4-.1l-34.8 35zm51.8-51.9c-10.7 10.7-28.2 10.7-38.9 0-5.2-5.2-8.1-12.1-8.1-19.5 0-7.3 2.9-14.3 8.1-19.4l41.2-41.2c0 .8-.1 1.6-.1 2.3 0 9.8 3.8 19 10.7 25.9 6.9 6.9 16.1 10.7 25.9 10.7.8 0 1.6-.1 2.3-.1l-41.1 41.3zM0 42.6C0 40.1 2.1 38 4.6 38h82.5c2.5 0 4.6 2.1 4.6 4.6s-2.1 4.6-4.6 4.6H4.6c-2.5 0-4.6-2-4.6-4.6zm0 27.5c0-2.5 2.1-4.6 4.6-4.6h55c2.5 0 4.6 2.1 4.6 4.6s-2.1 4.6-4.6 4.6h-55c-2.5 0-4.6-2-4.6-4.6zm32.1 32.1H4.6c-2.5 0-4.6-2.1-4.6-4.6S2.1 93 4.6 93h27.5c2.5 0 4.6 2.1 4.6 4.6s-2.1 4.6-4.6 4.6z"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="panorama__line">
                        <a href="#" class="panorama__link">Жидкие обои</a>
                    </div>
                </div>
                <div class="panorama__block">
                    <div class="panorama__oval">
                        <div class="panorama__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2.062735912846577 -2.0627450919618724 204.12548708448222 204.12548708448222" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 1px;">
                                <g>
                                    <path d="M174.8 47.6L103.4.9s-.1 0-.1-.1c-1-.6-2.1-.9-3.3-.9-1.2 0-2.3.3-3.3.9 0 0-.1 0-.1.1L25.2 47.6c-2 1.2-3.2 3.3-3.2 5.7v93.4c0 2.3 1.2 4.5 3.2 5.7l71.4 46.7s.1 0 .1.1c1 .6 2.1.9 3.3.9 1.2 0 2.3-.3 3.3-.9 0 0 .1 0 .1-.1l71.4-46.7c2-1.2 3.2-3.3 3.2-5.7V53.3c0-2.3-1.2-4.5-3.2-5.7zm-11.4 46c1.4 9.4 3.2 18.8 3.8 28.3.6 9.5-.5 19.2-.6 28.7v2.7l-2.8 1.8v-.4c-.8-38.3-4.5-76.4-7.4-114.6l6.2 4.1c-.7 7.3-1.2 14.6-1.2 22-.1 9.1.7 18.3 2 27.4zm-11 68.9c-2.1-19-5-37.9-8-56.8-3.1-19.3-6.8-38.5-8.4-57.9-.6-7.2-.9-14.5-1.1-21.7l19.4 12.7c1 14.2 2.1 28.5 3.2 42.7 1.9 25 3.3 50.1 4 75.1l-9.1 5.9zM112.8 11.6l20.1 13.2c.3 18.5 2.2 36.5 5.1 54.7 4.4 28 9.2 56 12.5 84.2l-7.8 5.1c-.8-2.6-1.5-5.3-2.3-7.9-2.6-9.1-4.8-18.3-7.2-27.4-4.9-18.6-9.7-37.2-13.9-55.9-2-9.1-3.9-18.2-4.9-27.5-1-9-1.3-18.1-1.5-27.1-.1-3.8-.1-7.6-.1-11.4zM98.6 4.1c.8-.5 1.9-.5 2.7 0l9.7 6.3c-.1 4.6-.1 9.1 0 13.7.1 9.4.6 18.8 1.7 28.2 1 9.1 2.9 18 4.9 26.9 4.2 18.8 9 37.4 13.9 56 2.4 9.1 4.6 18.2 7.2 27.3l2.1 7.5-4.8 3.1c-.5-1.7-.9-3.4-1.4-5.1-2.5-8.6-4.8-17.3-7.1-26-2.2-8.7-4.7-17.3-8.2-25.7-3.3-7.8-7.3-15.4-10.5-23.3-4.2-10.3-7.9-20.8-10.5-31.6-2.6-11-3.3-22.5-3.3-33.8 0-7.3.4-14.7 1-22.1l2.6-1.4zm9.3 186c-.2-2.4-.5-4.8-.9-7.1v-.1c-.7-4.9-1.4-9.7-2.2-14.6-.6-4-1.7-7.9-2.7-11.8-.3-1.7-.8-3.5-1.2-5.2-.2-.8-.4-1.7-.7-2.5-.9-3.1-2-6.1-3-9.2-2.8-8.5-5.2-17-7.4-25.7-1.8-9.9-4-19.9-9-28.6-5-8.8-15.3-17-25.9-13.1-10 3.6-16 14.8-19.8 23.8-4.8 11.1-7.1 23.1-9.3 35V95.2C31.1 82.9 42 74.4 52 65.7c5-4.4 9.7-9.3 11.8-15.8 2.2-6.9.1-14.8-2.4-21.5l9-5.9v3.1c-.1 15.6-2.9 33.1 6.4 46.7 4.7 6.8 11.1 12.3 14.8 19.8 3.7 7.6 4.4 15.9 6.6 23.9 2.2 8 5.8 15.7 9.2 23.3 3.7 8.4 6.8 16.7 8.6 25.7 1.3 6.5 2.1 13 2.6 19.6l-10.5 6.9c-.2-.4-.2-.9-.2-1.4zM44.3 39.7l15-9.8.6 2.1c1.5 4.6 1.6 9.1.6 13.9-.9 4.5-2.8 8.7-5.2 12.5-1.3 2.1-3 3.9-4.6 5.6l-.3.3c-9.2 8.1-18.8 15.6-24.7 26.2v-7.3c.9-1.5 1.8-3 2.7-4.6 6.7-11 13.8-21.3 15.4-34.5.3-1.5.4-3 .5-4.4zm75.4 134.8c-1.1-8.7-3-17.2-6-25.4-3-8.1-6.9-15.8-10-23.8-2.4-6.1-4-12.3-5.3-18.8-1.2-5.9-2.9-11.7-5.7-17.1-3-5.8-7.7-10.3-11.8-15.3-4.6-5.7-7.2-11.7-8.1-18.9-.8-6.4-.6-12.8-.5-19.2.1-4.9.1-9.8 0-14.7l7.2-4.7c.9 14.8 2.4 30.2 7.1 44.1 5.2 15.4 15.1 28.8 19.9 44.4 5.7 18.9 11.9 37.8 17 56.8 1.5 5.7 2.5 11.5 3.1 17.4l-6 3.9c-.2-2.8-.5-5.8-.9-8.7zm7.2-7.8c-1.9-9.4-5.2-18.6-8-27.9-2.9-9.5-5.7-19-8.6-28.5-1.9-6.2-3.7-12.2-6.4-18.1-2.5-5.5-5.5-10.9-8.3-16.3-3-5.7-5.7-11.5-7.7-17.7C86 52.2 85 46 84 39.8c-1.3-8.1-2.2-16.2-2.8-24.4L94 7c-1.5 15.7-1.4 31.5 1 46.9 2.4 15.8 8.1 31.1 14.3 45.7 3.5 8.1 7.8 15.9 10.8 24.2 3.1 8.5 5.2 17.3 7.4 26.1 2.1 8.1 4.6 16.2 6.8 24.3l-5.7 3.7c-.4-3.6-.9-7.4-1.7-11.2zM27.2 50.8L40 42.5c-.5 6.4-2 12.7-4.7 18.7-2.6 5.7-6.4 10.7-9.5 16V53.3c0-1 .5-2 1.4-2.5zm54.1 133.4v.4l-11.9-7.8v-1c0-4.4 0-8.4-2.2-12.3-1.1-1.9-2.9-3.9-5-5.1-1.5-1.4-3.3-2.5-5.3-3-4.9-1.3-9.5 1-13.4 4.5l-9.7-6.3c.8-2.1 1.7-4.1 2.6-6.1 4.5-9.9 11.3-22 22.9-24.3 12.8-2.6 19.1 9.7 21.4 20.1 2.9 13.3 1 27.3.6 40.9zm-14.8-9.3L45.3 161c2.5-2.1 5.5-3.8 8.7-4 7.4-.5 11.4 8.4 12.2 14.4.2 1.2.3 2.3.3 3.5zm34.9 21c-.8.5-1.9.5-2.7 0l-15.4-10c.1-6.2.4-12.4.7-18.6.3-5.8.4-11.5-.2-17.2-.9-9.5-3.5-20.7-11.8-26.4-7.6-5.3-17.4-2.4-23.9 3.1-7.7 6.6-12.3 16.5-16 25.8l-4.9-3.2s-.1 0-.1-.1c-.9-.5-1.4-1.4-1.4-2.4v-5c.5-2.3.9-4.6 1.4-6.9 2.8-14.5 5.3-29.4 12-42.7 4.6-9.2 13.1-21.3 25-18.4 13.2 3.3 18.6 18.9 21.5 30.4.5 2.1 1 4.1 1.4 6.2 0 .2 0 .4.1.6.3 2.2.8 4.4 1.3 6.6 1.5 8.5 2.9 17 5.3 25.4 3.9 13.5 9 26.7 11.3 40.5.2 1 .3 2 .5 3 .3 2.2.5 4.3.7 6.5l-4.8 2.8zm72.8-49.2c0 1-.5 1.9-1.4 2.4 0 0-.1 0-.1.1l-4.1 2.7c0-1.9 0-3.9.1-5.8.3-3.4.7-6.8 1-10.2.5-6.5.2-12.9-.3-19.3-1-13.2-3-26.3-3.9-39.5-.7-10.2-.2-20.3.8-30.4l6.4 4.2s.1 0 .1.1c.9.5 1.4 1.4 1.4 2.4v93.3z"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="panorama__line">
                        <a href="#" class="panorama__link">Отделка пробкой</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <article class="article article_bordered">
                {{ text }}
            </article>
        </div>
    </div>
</div>
{{subscribe}}
{{ footer }}
