{{ header }}
<div class="home-page content">
    <div class="container">
        <div class="box">
            <div class="image">
                <div class="image__block">
                    <div class="image__oval"></div>
                    <div class="image__line">
                        <a href="#" class="image__link">Натяжные потолки</a>
                    </div>
                </div>
                <div class="image__block">
                    <div class="image__oval"></div>
                    <div class="image__line">
                        <a href="#" class="image__link">Жидкие обои</a>
                    </div>
                </div>
                <div class="image__block">
                    <div class="image__oval"></div>
                    <div class="image__line">
                        <a href="#" class="image__link">Отделка пробкой</a>
                    </div>
                </div>
            </div>
        </div>
       <div class="box">
           <article class="article article_bordered">
               <h2 class="article__title">Дорогие клиенты! Вас приветствует "Бэкграунд"</h2>
               <p>Натяжные потолки являются наиболее прогрессивным типом отделки. Первоначально натяжные потолки применялись для скрытия неровностей и дефектов потолков в производственных, общественных и жилых помещениях. В наше время натяжные потолки еще призваны придавать изящный и неповторимый вид жилому или административному помещению.</p>
               <p>Приоритетное направление деятельности БэкГраунд - продажа и установка натяжных потолков. Мы предлагаем, как традиционные варианты, которые монтируются при помощи линейных багетов, так и используем изогнутые профили, крепежи для арочных покрытий и прочее. У нас вы можете выбрать наиболее распространенные ровные натяжные потолки, а также удивить всех многоуровневыми, комбинированными конструкциями с подсветкой или без нее. </p>
               <p>Натяжные потолки помогают украсить помещение, придать ему нужный стиль. Мы поможем вам подобрать и установить оригинальной формы поверхности натяжных потолков, с помощью богатой цветовой гаммы, но также осуществляется возможность нанесения на полотно фотопечати, художественной росписи, рисунков. Поэтому наши потолки – это не только возможность получить ровную поверхность, скрыв возможные изъяны исходного потолка, но также способ эффектно украсить интерьер любого помещения.</p>
               <p>Дополнительно мы предлагаем другие виды работы для преображения помещения, а также сделать его неповторимым и изысканным.</p>
           </article>
       </div>
    </div>
</div>
{{subscribe}}
{{ footer }}
