<nav class="menu" role="navigation">
    <ul class="menu__list">
        {% if menu %}
            {% for item in menu %}
                <li class="menu__item">
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
