<nav class="menu" role="navigation">
    <ul class="menu__list">
        <li class="menu__item"><a href="#">Главная</a></li>
        <li class="menu__item"><a href="/index.php?route=common/potolki">Натяжные потолки</a></li>
        <li class="menu__item"><a href="#">Жидкие обои</a></li>
        <li class="menu__item"><a href="#">Отделка пробкой</a></li>
        <li class="menu__item"><a href="#">Контакты</a></li>
    </ul>
</nav>