{{ header }}
<main class="content">
    <div class="slider">
        <button class="button slider__controls js-slider-prev">
            <span class="icon-back"></span>
        </button>
        <div class="slider__wrapper js-ceilings">
            <div class="slider__item">
                <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider/slide1.jpg" alt=""></div>
                <div class="slider__header">
                    <h2 class="slider__title">Натяжные потолки</h2>
                    <p class="slider__subtitle">Монтаж любой сложности</p>
                </div>
            </div>
            <div class="slider__item">
                <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider/slide2.jpg" alt=""></div>
            </div>
            <div class="slider__item">
                <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider/slide3.jpg" alt=""></div>
            </div>
            <div class="slider__item">
                <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider/slide4.jpg" alt=""></div>
            </div>
        </div>
        <button class="button slider__controls slider__controls_right js-slider-next">
            <span class="icon-next"></span>
        </button>
    </div>
    <div class="container">
        <div class="box">
            <h2 class="box__title">Виды натяжных потолков</h2>
            <div class="row row_small row_flex">
                <div class="card">
                    <div class="card__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/card/card0.jpg" class="card__image" alt="">
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__title"><h2>Глянцевые</h2></div>
                </div>
                <div class="card">
                    <div class="card__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/card/card1.jpg" class="card__image" alt="">
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__title"><h2>Матовые</h2></div>
                </div>
                <div class="card">
                    <div class="card__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/card/card2.jpg" class="card__image" alt="">
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__title"><h2>Двухуровневые</h2></div>
                </div>
                <div class="card">
                    <div class="card__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/card/card3.jpg" class="card__image" alt="">
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__title"><h2>Фотопечать</h2></div>
                </div>
                <div class="card">
                    <div class="card__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/card/card4.jpg" class="card__image" alt="">
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__title"><h2>Звездное небо</h2></div>
                </div>
                <div class="card">
                    <div class="card__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/card/card5.jpg" class="card__image" alt="">
                    </div>
                    <div class="card__overlay"></div>
                    <div class="card__title"><h2>Эксклюзивные</h2></div>
                </div>
            </div>
        </div>
        <div class="box">
            <h3>Что такое натяжной потолок?</h3>
            <p>Воплощение практичности и красоты, множество вариантов оформления, минимальный уход и эксплуатация в течении многих лет</p>
            <div class="feature">
               <div class="feature__item">
                   <div class="feature__image-wrapper">
                       <img src="/catalog/view/theme/kate/src/images/calendar.svg" alt="">
                   </div>
                   <div class="feature__content">
                       <h3>Монтаж в кратчайшие сроки</h3>
                       <p>Установка натяжного потолка - это быстрый и удобный метод преображения потолочной поверхности и в целом&nbsp;самого помещения,&nbsp;занимающий в среднем&nbsp;всего несколько часов&nbsp;и выполняющийся на любой стадии ремонта.</p>
                   </div>
               </div>
                <div class="feature__item">
                    <div class="feature__image-wrapper">
                        <img src="/catalog/view/theme/kate/src/images/calendar.svg" alt="">
                    </div>
                    <div class="feature__content">
                        <h3>Монтаж в кратчайшие сроки</h3>
                        <p>Установка натяжного потолка - это быстрый и удобный метод преображения потолочной поверхности и в целом&nbsp;самого помещения,&nbsp;занимающий в среднем&nbsp;всего несколько часов&nbsp;и выполняющийся на любой стадии ремонта.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <article class="article">
                <h2 class="article__title">Мы дорожим вашим временем!</h2>
                <p>Наш сайт позволит заказать натяжные потолки не выходя из дома, сделав web-заказ либо позвонив по телефону.
                    Замерщик приедет в назначенное время, бесплатно проведет замер помещения, покажет образцы фактур и готовые решения, определит точную стоимость натяжного потолка. Помимо преимуществ, описанных выше, замерщик поможет Вам определиться с дизайном помещения, выбрать цвет, текстуру натяжных потолков и посоветовать наилучший вариант.
                </p>
                <p>Обратившись Вы получите быструю грамотную консультацию, разработку индивидуального проекта по Вашему заказу и выполнение всех работ по установке натяжного потолка в кратчайшие сроки. Каждому клиенту на все виды фактур натяжных потолков, монтаж и сопутствующие материалы предоставляются скидки!</p>
            </article>
            <div class="button-group button-group_center">
                <button class="button button_rounded js-discount-btn">Заказать скидку</button>
            </div>
        </div>
        <div class="discount js-discount">
            <i class="modal__close js-close-modal"></i>
            <div class="discount__wrapper">
                <h2 class="discount__title">5% скидка</h2>
                <p class="discount__subtitle">Заполните форму и получить 5% скидку</p>
                <form class="form form_discount" action="" name="discount">
                    <div class="form__wrapper form__wrapper_wide">
                        <div class="form__row">
                            <div class="input">
                                <input type="text" class="input__field input__field_bordered" placeholder="Имя">
                            </div>
                            <div class="input">
                                <input type="text" class="input__field input__field_bordered" placeholder="Фамилия">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="input">
                                <input type="tel" class="input__field input__field_bordered" placeholder="Телефон">
                            </div>
                        </div>
                        <div class="form_row">
                            <div class="button-group">
                                <button class="button button_default button_wide button_animated">Оставить заявку</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="discount">

        </div>
    </div>
</main>
{{ footer }}