{{ header }}
<main class="content">
    <div class="container">
        <div class="slider">
            <button class="button slider__controls js-slider-prev">
                <span class="icon-back"></span>
            </button>
            <div class="slider__wrapper js-stopper">
                <div class="slider__item">
                    <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider3/slide.jpg" alt=""></div>
                </div>
                <div class="slider__item">
                    <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider3/slide2.jpg" alt=""></div>
                </div>
                <div class="slider__item">
                    <div><img class="slider__image" src="/catalog/view/theme/kate/src/images/slider3/slide3.jpg" alt=""></div>
                </div>
            </div>
            <button class="button slider__controls slider__controls_right js-slider-next">
                <span class="icon-next"></span>
            </button>
            <nav class="slider__dots">
            </nav>
        </div>
        <div class="box">
            <article class="article article_bordered">
                <div class="box__row">
                    <section class="box__column">
                        <p>В настоящее время пробка для стен набирает популярность. Это абсолютно экологичный и безопасный материал, обладающий хорошей теплоизоляцией и звукоизоляцией. Благодаря специальному пропиточному материалу, пробка для стен не вбирает влагу и неприятные запахи.</p>
                        <p>Преимущество пробки в том, что она универсальна. Материал применяется для отделки любых помещений, но при этом пробка должна грамотно вписываться в интерьер помещения</p>
                    </section>
                    <section class="box__column">
                        <img src="/catalog/view/theme/kate/src/images/layer.jpg" alt="">
                    </section>
                </div>
                <section>
                    <p>Пробка является уникальным природным материалом, который обладает многочисленными достоинствами, которые состоят в следующем:</p>

                    <ol class="list">
                        <li class="list__item">Пробка является натуральным материалом, и это одно из самых главных её положительных свойств. На пробковом покрытии не накапливается пыль, она не имеет неприятного запаха, является антистатиком и уменьшает уровень разных излучений</li>
                        <li class="list__item">Этот материал считается достаточно эластичным и упругим: после сжатия он возвращается к своей первоначальной форме благодаря наличию гибких клеточных мембран.</li>
                        <li class="list__item">Пробковое покрытие, предназначенное для стен, характеризуются большой прочностью: этот материал очень износостойкий и обладающий высоким уровнем трения.</li>
                        <li class="list__item">Пробка является гипоаллергенной, также ей присуща химическая инертность. Она безопасна для здоровья, не впитывает жир, ацетон и масло, не выделяет в воздух вредных веществ и не вызывает аллергию.</li>
                        <li class="list__item">Пробка достаточно проста в установке и легка в уходе. При монтаже плитки никакой подгонки не требуется. </li>
                    </ol>

                    <p>У нас на пробку для стен цена отличается выгодным значением, а также опыт помогает быстро и эффективно реализовать все поставленные перед нами задачи, чтобы вы могли получить красиво оформленный интерьер помещения и получить от этого эстетическое удовольствие. </p>
                </section>
            </article>
        </div>
        <div class="box">
            <div id="carousel">
                <img src="/catalog/view/theme/kate/src/images/card/card0.jpg" alt="">
                <img src="/catalog/view/theme/kate/src/images/card/card1.jpg" alt="">
                <img src="/catalog/view/theme/kate/src/images/card/card2.jpg" alt="">
                <img src="/catalog/view/theme/kate/src/images/card/card0.jpg" alt="">
                <img src="/catalog/view/theme/kate/src/images/card/card1.jpg" alt="">
                <img src="/catalog/view/theme/kate/src/images/card/card2.jpg" alt="">
            </div>
        </div>
    </div>
</main>
{{ footer }}