<div class="subscribe">
	<div class="container">
		<div class="subscribe__wrapper">
			<div class="subscribe__column">
				<h2 class="subscribe__title">Обратная связь</h2>
				<div class="subscribe__subtitle">
					<p>Отправьте нам сообщения и мы <br> обязательно свяжемся с вами</p>
				</div>
				<form class="form" name="subscribe desktop" action="">
					<div class="form__inner" style="width: 50%;     margin-right: 15px;">
						<div class="input">
							<input class="input__field" type="text" placeholder="Ваше имя">
						</div>
						<div class="input">
							<input class="input__field" type="text" placeholder="Ваш Email">
						</div>
						<div class="input">
							<input class="input__field" type="text" placeholder="Ваш телефон">
						</div>
					</div>
					<div style="width: 47%">
						<textarea class="textarea" name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
						<button class="button button_default button_relative">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
