$site-width: 980px; // Ширина сайта
$gutter: 15px; // Размер отсупа
$gutter-small: 8px; // Размер отсупа

//Шрифт
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 20px;
$font-style: normal;
$font-family : 'Roboto', sans-serif;

// Цвета
$black: #000;
$white: #fff;
$whitesmoke: #f8f8f8;
$darkgray: #a9a1a2;
$darkstalegray: #2f2e2e;
$blue: rgba(50, 74, 118, 1);
$red: #A6230E;
$wheat: #e6cfbc;

// Брейкпоинты
$sm: 544px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1280px; // Extra large screen desktop
$xxl: 1440px; // Wide desktop
