$site-width: 1200px; // Ширина сайта
$gutter: 15px; // Размер отсупа

// Цвета
$black: #000;
$white: #fff;
$whitesmoke: #f8f8f8;
$darkgray: #a9a1a2;
$blue: rgba(50, 74, 118, 1);
$red: #A6230E;
$wheat: #e6cfbc;

// Брейкпоинты
$sm: 544px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1280px; // Extra large screen desktop
$xxl: 1440px; // Wide desktop
