.container {
  max-width: $site-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;

  @media (max-width: $lg) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: $sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  margin-left: -$gutter;
  margin-right: -$gutter;

  &_small {
    margin-left: -$gutter-small;
    margin-right: -$gutter-small;
  }

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.content {
  padding: 20px 0;
  flex: 1 0 auto;
  background-color: $whitesmoke;

  &__header {
    color: $blue;
    text-align: center;
  }
}

.box {
  padding: 40px 0;

  &_small {
    padding: 10px 0;
  }

  &_flex {
    display: flex;
  }

  &__row {
    display: flex;
    margin-bottom: 15px;

    @media (max-width: $lg) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1;
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 33px;
    font-style: italic;
    color: $red;
  }
}

.hidden-md {
  @media (max-width: $md) {
    display: none;
  }
}
