h1 {
  font-size: 25px;
}

p.subtitle {
  margin-top: 15px;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
}

b, strong {
  font-weight: 700;
}
