#menu-category, #menu_wrap, #search, #search2 {
  display: none;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

.slick-slider .slick-track {
  max-height: 550px;
}


header .contact .contact__feedback {
  color: #324A76;
  padding-top: 9px;
}


@media (max-width: 677px) {
  .container .box .image .image__block {
    display: none;
  }
}