#menu-category, #menu_wrap, #search, #search2 {
  display: none;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

.panorama {
  display: flex;
  overflow: hidden;
  background-size: 100%;
  position: relative;
  height: 525px;
  background-image: url("/catalog/view/theme/kate/src/images/photo1.webp");

  &__block {
    position: relative;
    width: calc(100%/3);

    @media (max-width: $md) {
      display: none;
    }

    &:first-of-type {
      border-right: 10px solid $white;
    }

    &:last-of-type {
      border-left: 10px solid $white;
    }
  }

  &__icon {
    height: calc(100%/2);
    width: calc(100%/2);
    margin: 5px auto;
    fill: $wheat;
  }

  &__line {
    position: absolute;
    height: 60px;
    background-color: $blue;
    font-size: 25px;
    color: $white;
    width: 100%;
    bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__oval {
    position: absolute;
    bottom: 93px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: $blue;
    border-radius: 50%;
  }

  &__link{
    @include transition();

    &:hover {
      color: $wheat;
    }
  }
}

.slick-slider .slick-track {
  max-height: 550px;
}

header {
  border-bottom: 4px solid #7d7064;
}

header .contact .contact__feedback {
  color: #324A76;
  padding-top: 9px;
}


@media (max-width: 677px) {
  .container .box .image .image__block {
    display: none;
  }
}