.footer {
  padding: 30px 0;
  background-color: $wheat;

  @media (max-width: $sm) {
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }
  //
  //&__column {
  //  flex: 1;
  //}

  .address-item {
    margin-top: 10px;
    font-size: 14px;
    color: $blue;
  }
}
