.header {
  padding: 30px 0 10px 0;
  background-color: $wheat;
  box-shadow: 0 0 15px rgba(47,65,110,.15);

  &__column {
    @include width(3,$gutter);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  font-weight: 800;
  font-size: 25px;
  color: $blue;
  text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: $darkgray;
  margin-top: 40px;
  border-bottom: 1px solid #003f44;

  &__list {
    display: flex;
    color: $white;
  }

  &__item {
    @include transition();
    padding: 10px;

    &:hover {
      background-color: $blue;
    }
  }
}
