.header {
  position: relative;
  padding: 30px 0 10px 0;
  background-color: $wheat;
  box-shadow: 0 0 15px rgba(47,65,110,.15);
  border-bottom: 4px solid #7d7064;
  z-index: 10;

  &__column {
    @include width(3,$gutter);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: $sm) {
      @include width(1,$gutter);
    }
  }

  &__logo {
    @media (max-width: $sm) {
      align-items: flex-start;
    }
  }

  &__contact {
    @media (max-width: $md) {
     display: none;
    }
  }

  @media (max-width: $sm) {
    padding: 10px 0;

    .address {
      display: none;
    }
  }
}

.logo {
  font-weight: 800;
  font-size: 25px;
  color: $blue;
  text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}
