{{ header }}
<div class="content">
    <div class="container">
        <div class="box box_flex">
            <div class="contacts">
                <div class="contact">
                   <div class="contact__item contact__item_large">
                       <i class="icon icon-location" aria-hidden="true"></i>
                       <span>г. Верхнедвинск, ул. Советская дом 42, офис 13</span>
                   </div>
                    <div class="contact__item contact__item_large">
                        <i class="icon icon-phone" aria-hidden="true"></i>
                        <span>+ 375 (29) 713-25-63</span>
                    </div>
                    <div class="contact__item contact__item_large">
                        <i class="icon icon-mail" aria-hidden="true"></i>
                        <span>info.background@yandex.by</span>
                    </div>
                    <div class="contact__item contact__item_large">
                        <i class="icon icon-clock" aria-hidden="true"></i>
                        <span>Ежедневно с 09:00 до 21:00</span>
                    </div>
                </div>
            </div>
            <div class="map">
                <div id="map" class="ya-map"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [55.76, 37.64],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 7
        });
    }
</script>
{{ footer }}