.card {
  @include width(3, $gutter-small);
  position: relative;
  margin-bottom: 16px;

  @media (max-width: $md) {
    @include width(2, $gutter-small);
  }

  @media (max-width: $sm) {
    @include width(1, $gutter-small);
  }

  &__overlay {
    @include transition();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__title {
    position: absolute;
    bottom: 0;
    background-color: $darkstalegray;
    padding: 18px 0;
    width: 100%;
    color: $white;
    text-align: center;
  }

  &__image-wrapper {
    height: 100%;
  }

  &__image {
    height: 100%;
  }

  &:hover &__overlay {
    background: rgba($black, .4);
  }
}
