.contact {

  &__item {
    margin-top: 10px;

    &_large {
      margin-top: 25px;
    }

    .icon {
      margin-right: 10px;
      font-size: 35px;
      vertical-align: middle;

      &:before {
        color: $blue;
      }
    }
  }

  &__phone {
    font-size: 25px;
    color: $blue;
  }
}
.ya-map {
  width: 100%;
  height: 340px;
}

.contacts {
  flex: 1;
}

.map {
  flex: 1;
}