.feature {

  &__item {
    display: flex;
    margin-top: 10px;
  }

  &__image-wrapper {


    svg {
      width: 90px;
      stroke-width: 2;
    }
  }

  &__content {
    margin-left: 10px;
  }
}
